ul{
    margin: 0px;
    padding: 0px;
}
li, .Botonera a{
    display: inline-block;
    padding: 4px 10px;
    margin: 10pc 6px;
    border: 1px solid rgb(35, 37, 158);
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}